<% include partial/head %>
  <% include partial/navbar %>
    <body>
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            <h1>Welcome!</h1>
            <h3>What do you wanna do today?</h3>

          </div>
        </div>
      </div>
      <% include partial/footer %>
    </body>