<% include partial/head %>
  <% include partial/navbar %>
    <body>
      <div class="wrapper">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Here's your report</h1>
          </div>
        </div>
      </div>
      <% include partial/footer %>
    </body>